.row-space{
    margin: 0px;
    min-width: 400px;
    padding: 50px 0px 50px 0px;
}
.product-price{
    margin: 20px 0 10px;
    position: relative;
    display: inline-block;
    width: 100%;
    text-align: left;
    align-items: center;
    justify-content: center;

}
.has-discount .discount {
    color: #f13042;
    display: inline-block;
    font-size: 14px;
    font-weight: 600;
    margin-left: 0;
    margin-right: 0;
    text-transform: uppercase;
    vertical-align: middle;
    padding: 0 4px;
}
.current-price{
    margin: 0 auto;
    padding: 0px 5px 5px 0px;
    align-items: center;
    justify-content: space-between;
}
.product-discount .regular-price{
    text-decoration: line-through;
    font-weight: 500;
    margin-right: 5px;
    font-size: 13px;
    vertical-align: middle;
    line-height: 20px;
}
.product-discount{
    display: inline-block;
    font-size: 14px;
    font-weight: 600;
    margin-left: 0;
    margin-right: 0;
    text-transform: uppercase;
    padding: 0 4px;
}
.product-discount{
 color: #a0a0a0;
}
.product-price div{
    font-size: 20px;
    font-weight: 600;
    display: inline-block;
    margin: 0;
}
.product-discount .discount-percentage{
    position: absolute;
    width: 100%;
    max-width: 100px;
    font-size: 20%;
    float: left;
    vertical-align: middle;
}
.plus-minus-input {
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
  }
  
  .plus-minus-input .input-group-field {
    text-align: center;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
    padding: 1rem;
  }
  
  .plus-minus-input .input-group-field::-webkit-inner-spin-button,
  .plus-minus-input .input-group-field ::-webkit-outer-spin-button {
    -webkit-appearance: none;
            appearance: none;
  }
  
  .plus-minus-input .input-group-button .circle {
    border-radius: 50%;
    padding: 0.25em 0.8em;
  }
  .custom-button{
      margin: 0 auto;
      margin-right: 2rem;
  }
  .pro_desc{
      display: inline-block;
      color: red;

  }
  @media only screen and (max-width: 600px) {
    .pro_desc {
      background-color: yellow;
      display: block;
      font-size: small;
      min-width: 400px;
    }
    .small-font{
        display: inline-block;
    }
    .main-img{
            justify-content: center;
            position: relative;
            top:0;
            left: 40px;
            align-items: center;
    }
    .extra-img{
        position: relative;
        top:0;
        left: 40px;
        justify-content: center;
        align-items: center;
        min-width: 250px;
        margin-bottom: 20px;
    }
  
  }
      
  