*{
  font-family: 'Poppins', sans-serif;
}
body{
  font-family: 'Poppins', sans-serif;
}
.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.bluenixielogo{
  max-width: 100px;
  margin-right:100px;
  margin-left:20px;
}

.small-font-navbar{
  font-size:10pt;
  font-weight: 600;
}

.banner{
  position:absolute;
  z-index:-1;
  top:0;
  left:0;
  width:100%;
}

.smallimg{
  z-index:-1;
  top:0;
  left:0;
  width:100%;
}

.socialIcon{
  margin: 10px;
}
.signinBtn{
  display: flex;
  float: right;
  position: absolute;
  right: 50px;
  font-size: small;
  max-width: 100%;
}
.text-over {
position:absolute;
top:50%;
left: 50%;
transform: translate(-50%, -50%);
background-color:white;
opacity: 0.8;
width:100%;

}
.row-space{
  margin:0px auto;
  padding: 10px 0px 10px 0px;
  min-height:100px;
}
.row-content {
  margin:0px auto;
  padding: 50px 0px 50px 0px;
  min-height:400px;
}
.row-header{
  margin:0px auto;
  padding:0px;
}
.leftMargin{
  top:10px;
  margin-left:5px;
}
.number-of-items{
  background:black;
  color:white;
  border-radius: 50%;
  padding: 1px 5px 0px 5px;
  position: absolute;
    top: 5px;
    font-size: small;
}
.cart-basket{
  font-size: .6rem;
  position: absolute;
  top: -1px;
  right: -2px;
  width: 15px;
  height: 15px;
  color: #fff;
  background-color: #418deb;
  border-radius: 50%;
}
